<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AccountEntities" connectionString="metadata=res://*/Data.Acccount.csdl|res://*/Data.Acccount.ssdl|res://*/Data.Acccount.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CSHARP-PC\SQLEXPRESS;Initial Catalog=Account;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CharacterEntities" connectionString="metadata=res://*/Data.Character.csdl|res://*/Data.Character.ssdl|res://*/Data.Character.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=CSHARP-PC\SQLEXPRESS;Initial Catalog=World00_Character;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>